<!DOCTYPE html>
<html>
  <head>
    <title>Check Movie</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous">
    </script>
  
    <script> //일간, 주간, 월간 랭킹 보여주는 script
    $(document).ready(function() {
      $('ul.tabs li').click(function() {
      var tab_id = $(this).attr('data-tab');
      $('ul.tabs li').removeClass('current');
      $('.tab-content').removeClass('current');
      $(this).addClass('current');
      $("#"+tab_id).addClass('current');
      })
    })
    </script>

    <script>
    var dt = new Date();
    var m = dt.getMonth() + 1;
    if (m < 10) {
      var month = "0" + m;
    } else {
      var month = m + "";
    }

    var d = dt.getDate()-1;
    if (d < 10) {
      var day = "0" + d;
    } else {
      var day = d + "";
    }

    var y = dt.getFullYear();
    var year = y + "";

    var result = year + month + day;
    $.ajax( {
      method: "GET",
      url: "http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key=0c0a5e530eba657434be85f5e39f5f02&targetDt="+result  
    })
    .done(function (msg) {
      console.log(msg);
      $( "#tabList" ).append( "<tr><td>"+ msg.boxOfficeResult.dailyBoxOfficeList[0].movieNm+"</td><td>"+
                                msg.boxOfficeResult.dailyBoxOfficeList[1].movieNm + "</td><td>"+
                                msg.boxOfficeResult.dailyBoxOfficeList[2].movieNm+"</td><td>"+
                                msg.boxOfficeResult.dailyBoxOfficeList[3].movieNm+"</td></tr>");
      $.ajax({
        method: "GET",
        url:"http://api.koreafilm.or.kr/openapi-data2/wisenut/search_api/search_xml2.jsp?collection=kmdb_new2&ServiceKey=BP9D99782743Q1LL8A07&title="+msg.boxOfficeResult.dailyBoxOfficeList[0].movieNm
      
      })
      .done(function (msg2){
        console.log(msg2);
        var post = $(msg2).find('posters').text();
        if(post) {
          var list1 = post.split("|");
        }
       $("#post").append('<img src="'+list1[0]+'"/>');
        
      });
      $.ajax({
        method: "GET",
        url:"http://api.koreafilm.or.kr/openapi-data2/wisenut/search_api/search_xml2.jsp?collection=kmdb_new2&ServiceKey=BP9D99782743Q1LL8A07&title="+msg.boxOfficeResult.dailyBoxOfficeList[1].movieNm
      
      })
      .done(function (msg3){
        console.log(msg3);
        var post2 = $(msg3).find('posters').text();
        if(post2) {
          var list2 = post2.split("|");
        }
        $("#post2").append('<img src="'+list2[0]+'"/>');
        
      });
      $.ajax({
        method: "GET",
        url:"http://api.koreafilm.or.kr/openapi-data2/wisenut/search_api/search_xml2.jsp?collection=kmdb_new2&ServiceKey=BP9D99782743Q1LL8A07&title="+msg.boxOfficeResult.dailyBoxOfficeList[2].movieNm+"&movieId=K"
      
      })
      .done(function (msg4){
        console.log(msg4);
        var post3 = $(msg4).find('posters').text();
        if(post3) {
          var list3 = post3.split("|");
        }
        $("#post3").append('<img src="'+list3[0]+'"/>');
        
      });
      $.ajax({
        method: "GET",
        url:"http://api.koreafilm.or.kr/openapi-data2/wisenut/search_api/search_xml2.jsp?collection=kmdb_new2&ServiceKey=BP9D99782743Q1LL8A07&title="+msg.boxOfficeResult.dailyBoxOfficeList[3].movieNm+"&movieId="+"K"+"&movieSeq=21731"
      
      })
      .done(function (msg5){
        console.log(msg5);
        var post4 = $(msg5).find('posters').text();
        if(post4) {
          var list4 = post4.split("|");
        }
        $("#post4").append('<img src="'+list4[0]+'"/>');
        
      });
    });
    </script>

    <script>
    var nowDate = new Date();
    var weekDate = nowDate.getTime() - (7*24*60*60*1000);
    nowDate.setTime(weekDate);

    var weekYear = nowDate.getFullYear();
    var weekMonth = nowDate.getMonth() + 1;
    var weekDay = nowDate.getDate();

    if(weekMonth < 10) { weekMonth = "0" + weekMonth; }
    if(weekDay < 10) { weekDay = "0" + weekDay; }

    var result2 = weekYear + weekMonth + weekDay;
    $.ajax({ 
    method: "GET",
    url: "http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchWeeklyBoxOfficeList.json?key=0c0a5e530eba657434be85f5e39f5f02&weekGb=0&targetDt="+result2
    })
    .done(function (msg) {
      console.log(msg);
      $( "#tabList2" ).append( "<tr><td>"+ msg.boxOfficeResult.weeklyBoxOfficeList[0].movieNm+"</td><td>"+
                                msg.boxOfficeResult.weeklyBoxOfficeList[1].movieNm + "</td><td>"+
                                msg.boxOfficeResult.weeklyBoxOfficeList[2].movieNm+"</td><td>"+
                                msg.boxOfficeResult.weeklyBoxOfficeList[3].movieNm+"</td></tr>");

      $.ajax({
        method: "GET",
        url:"http://api.koreafilm.or.kr/openapi-data2/wisenut/search_api/search_xml2.jsp?collection=kmdb_new2&ServiceKey=BP9D99782743Q1LL8A07&title="+msg.boxOfficeResult.weeklyBoxOfficeList[0].movieNm
      
      })
      .done(function (msg2){
        console.log(msg2);
        var post = $(msg2).find('posters').text();
        if(post) {
          var list1 = post.split("|");
        }
       $("#post_week").append('<img src="'+list1[0]+'"/>');
        
      });
      $.ajax({
        method: "GET",
        url:"http://api.koreafilm.or.kr/openapi-data2/wisenut/search_api/search_xml2.jsp?collection=kmdb_new2&ServiceKey=BP9D99782743Q1LL8A07&title="+msg.boxOfficeResult.weeklyBoxOfficeList[01].movieNm
      
      })
      .done(function (msg3){
        console.log(msg3);
        var post2 = $(msg3).find('posters').text();
        if(post) {
          var list2 = post2.split("|");
        }
       $("#post_week2").append('<img src="'+list2[0]+'"/>');
        
      });
      $.ajax({
        method: "GET",
        url:"http://api.koreafilm.or.kr/openapi-data2/wisenut/search_api/search_xml2.jsp?collection=kmdb_new2&ServiceKey=BP9D99782743Q1LL8A07&title="+msg.boxOfficeResult.weeklyBoxOfficeList[2].movieNm+"&movieId="+"K"
      
      })
      .done(function (msg4){
        console.log(msg4);
        var post3 = $(msg4).find('posters').text();
        if(post3) {
          var list3 = post3.split("|");
        }
       $("#post_week3").append('<img src="'+list3[0]+'"/>');
        
      });
      $.ajax({
        method: "GET",
        url:"http://api.koreafilm.or.kr/openapi-data2/wisenut/search_api/search_xml2.jsp?collection=kmdb_new2&ServiceKey=BP9D99782743Q1LL8A07&title="+msg.boxOfficeResult.weeklyBoxOfficeList[3].movieNm+"&movieId="+"K"+"&movieSeq=21731"
      
      })
      .done(function (msg5){
        console.log(msg5);
        var post4 = $(msg5).find('posters').text();
        if(post4) {
          var list4 = post4.split("|");
        }
       $("#post_week4").append('<img src="'+list4[0]+'"/>');
        
      });
    });
  
    $.ajax( {
      method: "GET",
      url: "http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchWeeklyBoxOfficeList.json?key=0c0a5e530eba657434be85f5e39f5f02&weekGb=1&targetDt="+result2
    })
  
    .done(function (msg) {
      console.log(msg);
      $( "#tabList3" ).append( "<tr><td>"+ msg.boxOfficeResult.weeklyBoxOfficeList[0].movieNm+"</td><td>"+
                                msg.boxOfficeResult.weeklyBoxOfficeList[1].movieNm + "</td><td>"+
                                msg.boxOfficeResult.weeklyBoxOfficeList[2].movieNm+"</td><td>"+
                                msg.boxOfficeResult.weeklyBoxOfficeList[3].movieNm+"</td></tr>");

      $.ajax({
        method: "GET",
        url:"http://api.koreafilm.or.kr/openapi-data2/wisenut/search_api/search_xml2.jsp?collection=kmdb_new2&ServiceKey=BP9D99782743Q1LL8A07&title="+msg.boxOfficeResult.weeklyBoxOfficeList[0].movieNm
      
      })
      .done(function (msg2){
        console.log(msg2);
        var post = $(msg2).find('posters').text();
        if(post) {
          var list1 = post.split("|");
        }
       $("#post_week_week").append('<img src="'+list1[0]+'"/>');
        
      });
      $.ajax({
        method: "GET",
        url:"http://api.koreafilm.or.kr/openapi-data2/wisenut/search_api/search_xml2.jsp?collection=kmdb_new2&ServiceKey=BP9D99782743Q1LL8A07&title="+msg.boxOfficeResult.weeklyBoxOfficeList[1].movieNm
      
      })
      .done(function (msg3){
        console.log(msg3);
        var post2 = $(msg3).find('posters').text();
        if(post2) {
          var list2 = post2.split("|");
        }
       $("#post_week_week2").append('<img src="'+list2[0]+'"/>');
        
      });
      $.ajax({
        method: "GET",
        url:"http://api.koreafilm.or.kr/openapi-data2/wisenut/search_api/search_xml2.jsp?collection=kmdb_new2&ServiceKey=BP9D99782743Q1LL8A07&title="+msg.boxOfficeResult.weeklyBoxOfficeList[2].movieNm+"&movieId="+"K"
      
      })
      .done(function (msg4){
        console.log(msg4);
        var post3 = $(msg4).find('posters').text();
        if(post3) {
          var list3 = post3.split("|");
        }
       $("#post_week_week3").append('<img src="'+list3[0]+'"/>');
        
      });
      $.ajax({
        method: "GET",
        url:"http://api.koreafilm.or.kr/openapi-data2/wisenut/search_api/search_xml2.jsp?collection=kmdb_new2&ServiceKey=BP9D99782743Q1LL8A07&title="+msg.boxOfficeResult.weeklyBoxOfficeList[3].movieNm+"&movieId="+"K"+"&movieSeq=21731"
      
      })
      .done(function (msg5){
        console.log(msg5);
        var post4 = $(msg5).find('posters').text();
        if(post4) {
          var list4 = post4.split("|");
        }
       $("#post_week_week4").append('<img src="'+list4[0]+'"/>');
        
      });
    });
    </script>
  </head>
  <body>
    <!-- Chck Movie 로고, 회원가입,로그인, 메뉴 있는 top 부분 -->
    <div id="top">
      <div id="topLocation">
        <input type="button" class="img-button" onclick="location.href='./afterLogin_main.html'">
        <button id="logout" onclick="location.href='./beforeLogin_main.html'">로그아웃</button>
        <button id="myList" onclick="location.href='./myList.html'">My 보관함</button>
        <div>
          <button id="movieRank" onclick="location.href='./afterLogin_ranking.html'">영화랭킹</button>
          <button id="naver" onclick="location.href='./afterLogin_naver_genre.html'">네이버</button>
          <button id="netflix" onclick="location.href='./afterLogin_netflix_genre.html'">넷플릭스</button>
        </div>
      </div>
    </div>
    <div id="container">
    <!-- 랭킹 띄워주는 부분 -->
    <div id="rankPos">

      <ul class="tabs">
        <li class="tab-link current" data-tab="tab-1" style="margin-left:50px">일간</li>
        <li class="tab-link" data-tab="tab-2" style="margin-left:91px">주간</li>
        <li class="tab-link" data-tab="tab-3" style="margin-left:95px">주말</li>
        <li class="tab-link" data-tab="tab-4" style="margin-left:70px">찜 한 영화</li>
      </ul>
      <div>
        <button id="rankMore" onclick="location.href='./afterLogin_ranking.html'">더보기</button>
      </div>

      <table id="poster">
        <tr>
          <td id="posterPos1"></td>
          <td id="posterPos2"></td>
          <td id="posterPos3"></td>
          <td id="posterPos4"></td>
        </tr>
      </table>

      <div id="tab-1" class="tab-content current">
        <table id = "poster_image1">
          <tr>
            <td id = "post"></td>
            <td id = "post2"></td>
            <td id = "post3"></td>
            <td id = "post4"></td>
          </tr>
        </table>
        <table id = "tabList">
        
        </table>
      </div>
      
      <div id="tab-2" class="tab-content">
        <table id = "poster_image2">
          <tr>
            <td id ="post_week"></td>
            <td id ="post_week2"></td>
            <td id ="post_week3"></td>
            <td id ="post_week4"></td>
          </tr>
        </table>
        <table id = "tabList2">

        </table>
      </div>

      <div id="tab-3" class="tab-content">
        <table id = "poster_image3">
          <tr>
            <td id ="post_week_week"></td>
            <td id ="post_week_week2"></td>
            <td id ="post_week_week3"></td>
            <td id ="post_week_week4"></td>
          </tr>
        </table>
        <table id = "tabList3">

        </table>
      </div>


      <div id="tab-4" class="tab-content">
    
      </div>  
    </div>
    <!-- 네이버 장르 보여주는 부분 -->
    <div id="naverPos">
      <p id="naverTitle">네이버 장르</p>
      <!-- 문제. 아직 api를 받지 못해서 작성 못함 -->
      <button id="more" onclick="location.href='./afterLogin_naver_genre.html'">더보기</button>
      <div id="naverGenre">
        <form action="/users/search/movie" method="GET">
          <table id="naverGenreTable">
            <tr>
              <td><input type='submit' name = "genre" value='-드라마' style="background-color:transparent;  border:0px transparent solid;"></td>
              <td><input type='submit' name = "genre" value='-판타지' style="background-color:transparent;  border:0px transparent solid;"></td>
              <td><input type='submit' name = "genre" value='-서부' style="background-color:transparent;  border:0px transparent solid;"></td>
            </tr>
            <tr>
              <td><input type='submit' name = "genre" value='-공포' style="background-color:transparent;  border:0px transparent solid;"></td>
              <td><input type='submit' name = "genre" value='-로맨스' style="background-color:transparent;  border:0px transparent solid;"></td>
              <td><input type='submit' name = "genre" value='-모험' style="background-color:transparent;  border:0px transparent solid;"></td>
            </tr>
            <tr>
              <td><input type='submit' name = "genre" value='-스릴러' style="background-color:transparent;  border:0px transparent solid;"></td>
              <td><input type='submit' name = "genre" value='-느와르' style="background-color:transparent;  border:0px transparent solid;"></td>
              <td><input type='submit' name = "genre" value='-컬트' style="background-color:transparent;  border:0px transparent solid;"></td>
            </tr>
            <tr>
              <td><input type='submit' name = "genre" value='-다큐멘터리' style="background-color:transparent;  border:0px transparent solid;"></td>
              <td><input type='submit' name = "genre" value='-코미디' style="background-color:transparent;  border:0px transparent solid;"></td>
              <td><input type='submit' name = "genre" value='-가족' style="background-color:transparent;  border:0px transparent solid;"></td>
            </tr>
      </table>
      </div>
      <div id="beam1">
        <img src="./image/beam_project.png">
      </div>
    </div>
    <!-- 넷플릭스 장르 보여주는 부분 -->
    <div id="netflixPos">
      <p id="netflixTitle">넷플릭스 장르</p>
      <button id="more" onclick="location.href='./afterLogin_netflix_genre.html'">더보기</button>
      <div id="netflixGenre">
        <table id="netflixGenreTable">
          <tr>
            <td><a href="http://www.netflix.com/browse/genre/5685">-한국 영화</a></td>
            <td><a href="http://www.netflix.com/browse/genre/6548">-코미디</a></td>
            <td><a href="http://www.netflix.com/browse/genre/5475">-로맨틱 코미디</a></td>
          </tr>
          <tr>
            <td><a href="http://www.netflix.com/browse/genre/8933">-스릴러</a></td>
            <td><a href="http://www.netflix.com/browse/genre/7424">-일본애니메이션</a></td>
            <td><a href="http://www.netflix.com/browse/genre/10118">-코믹북 & 슈퍼히어로</a></td>
          </tr>
          <tr>
            <td><a href="http://www.netflix.com/browse/genre/4370">-스포츠 영화</a></td>
            <td><a href="http://www.netflix.com/browse/genre/8883">-로맨스 영화</a></td>
            <td><a href="http://www.netflix.com/browse/genre/1365">-액션 & 어드벤쳐</a></td>
          </tr>
          <tr>
            <td><a href="http://www.netflix.com/browse/genre/3327">-외계인 SF</a></td>
            <td><a href="http://www.netflix.com/browse/genre/4370">-스포츠 영화</a></td>
            <td><a href="http://www.netflix.com/browse/genre/31574">-클래식 영화</a></td>
          </tr>
        </table>
      </div>
      
      <div id="beam2">
        <img src="./image/beam_project.png">
      </div>
    </div>
    
    </div>
  </body>
</html>
<style type = "text/css">
@import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);
* {font-family: 'Jeju Hallasan', cursive}
* {font-weight: lighter;}
body {
  min-width: 1000px;
  margin: -9px 0px -9px 0px;
}
button:focus {
  outline: 0 !important;
}
input:focus {
  outline: 0 !important;
}
#top {
  margin-top: -30px;
  background-image: url("./image/Logo_background.png");
  background-repeat: repeat;
  background-size:cover;
  height: 240px;
}
#topLocation {
  margin: 15px 0px 30px 0px; 
}
input {
  vertical-align: middle;
  position: relative;
  left: 40%;
}
.img-button {
  background: url( "./image/movie_logo.PNG" ) no-repeat;
  border: none;
  width: 450px;
  height: 200px;
  margin-left: 405px;
  cursor: pointer;
}
img {
  height: 115px;
  position: absolute;
  left: 39%;
  margin-top: -15px;
}
#logout {
  margin-top: 200px;
  float: right;
  margin-right: 100px;
  cursor: pointer;
  background-color: transparent !important;
}
#myList {
  margin-top: 200px;
  float: right;
  cursor: pointer;
  background-color: transparent !important;
}
button {
  margin-right: 10px;
  border: none;
  color: black;
  padding: 3px 6px 3px 6px;
  background-color: transparent !important;
}
#left {
  width: 200px;
  margin: 30px 0px 40px 40px;
  text-align: center;
}
#movieRank {
  border: none;
  font-size: 15px;
  cursor: pointer;
  float: left;
  margin-left: 100px;
}
#movieRank:hover {
  color: rgb(163, 136, 114);
  font-size: 16px;
}
#naver {
  border: none;
  font-size: 15px;
  cursor: pointer;
  float: left;
}
#naver:hover {
  color: rgb(163, 136, 114);
  font-size: 16px;
}
#netflix {
  border: none;
  font-size: 15px;
  cursor: pointer;
  float: left;
}
#netflix:hover {
  color: rgb(163, 136, 114);
  font-size: 16px;
}
#container {
  background-image: url("./image/main_div_background.png");
  height: 900px;
  background-size: cover;
}
#rankPos {
  position: absolute;
  min-width: 800px;
  top: 300px;
  left: 15%;
  height: 350px;
  width: 70%;
}
#poster {
  margin-left: 3.9%;
  margin-top: 21px; 
  height: 180px;
}
#posterPos1 {
  background-image: url("./image/test.jpg");
  background-repeat: no-repeat;
}
#posterPos2 {
  background-image: url("./image/test.jpg");
  background-repeat: no-repeat;
}
#posterPos3 {
  background-image: url("./image/test.jpg");
  background-repeat: no-repeat;
}
#posterPos4 {
  background-image: url("./image/test.jpg");
  background-repeat: no-repeat;
}
#poster_image1 {
  position: absolute;
  top: 60px;
  left : -10px;
  height: 200px;
  width : 100%;
  table-layout:fixed;
}
#poster_image2 {
  position: absolute;
  top: 60px;
  left : -10px;
  height: 200px;
  width : 100%;
  table-layout:fixed;
}
#poster_image3 {
  position: absolute;
  top: 60px;
  left : -10px;
  height: 200px;
  width : 100%;
  table-layout:fixed;
}
#post{
  position: relative;
}
#post2{
  position: relative;
}
#post3{
  position: relative;
}
#post4{
  position: relative;
}
#post_week{
  position: relative;
}
#post_week2{
  position: relative;
}
#post_week3{
  position: relative;
}
#post_week4{
  position: relative;
}
#post_week_week{
  position: relative;
}
#post_week_week2{
  position: relative;
}
#post_week_week3{
  position: relative;
}
#post_week_week4{
  position: relative;
}
ul.tabs {
  /* margin:0px 80px 10px 90px; */
  padding: 0px;
  list-style : none;
}
ul.tabs li {
  background: none;
  color: black ;
  display: inline-block;
  padding: 10px 40px;
  cursor: pointer;
  font-size: 23px;
}
ul.tabs li.current {
  background-image: url("./image/popcon.png");
  background-repeat : no-repeat;
  background-size : contain;
  background-position: center center;
  color: black ;
}
.tab-content {
   display: none;
   padding: 130px;
}
.tab-content.current {
   display: inherit;
}
#rankTitle {
  margin: 0px 60px 10px 60px;
  display: flex;
  justify-content: space-between;
}
#naverPos {
  position: relative;
  top: 450px;
  left: 15%;
  background-image: url("./image/board.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 285px;
  width: 400px;
  min-width: 282px;
}
#naverTitle {
  font-size: 23px;
  color: #FE9B86;
  margin: 15px 0px 10px 20px;
  padding: 80px 0px 20px 50px;
}
#rankMore {
  border: none;
  cursor: pointer;
  background-color: #FFFFDD;
  position: relative;
  float: right;
  bottom: -250px;
}
#more {
  border: none;
  cursor: pointer;
  background-color: #FFFFDD;
  position: relative;
  float: right;
  margin: 110px 50px 0px 0px;
}
#hr {
  position: relative;
  top: -40px;
  width: 100%;
}
#netflixPos {
  position: relative;
  top: 152px;
  left: 55%;
  background-image: url("./image/board.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 285px;
  width: 400px;
  min-width: 282px;
}
#netflixTitle {
  font-size: 23px;
  color: #FDC263;
  margin: 15px 0px 10px 20px;
  padding: 80px 0px 20px 50px;
}
table {
  position: absolute;
  top: 92px;
  width: 100%;
  table-layout:fixed;
}
tr {
  height: 15px;
}
td {
  padding-left: 10px;
  padding-bottom: 10px;
  text-align: left;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
  text-decoration: none;
  font-size: 15px;
}
a {
  color: black;
  text-decoration: none;
  font-size: 15px;
}
a:hover {
  color: rgb(252, 162, 17);
}
#naverGenreTable {
  margin-top: 30px;
  margin-left: 45px;
  width: 300px;
}
#naverGenreTable tr {
  height: 22px;
}
#naverGenreTable td {
  padding-bottom: 10px;
  text-align: left;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
  text-decoration: none;
  font-size: 15px;
}
#netflixGenreTable {
  margin-top: 30px;
  margin-left: 50px;
  width: 300px;
}
#tabList {
  position: absolute;
  top: 300px;
  right : 0.5px;
  table-layout:fixed;
}
#tabList td {
  text-align: center;
  width:100%;
  overflow : hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#tabList2 {
  position: absolute;
  top: 300px;
  right : 0.5px;
  table-layout:fixed;
}
#tabList2 td {
  text-align: center;
  width:100%;
  overflow : hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#tabList3 {
  position: absolute;
  top: 300px;
  right : 0.5px;
  table-layout:fixed;
}
#tabList3 td {
  text-align: center;
  width:100%;
  overflow : hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#beam1 {
  position: relative;
  top: 180px;
  left: -22px;
}
#beam2 {
  position: relative;
  top: 180px;
  left: -17px;
}
input:hover {
  color: rgb(255, 100, 149);
  cursor: pointer;
}
input:focus {
  outline: 0 !important;
}
input {
  vertical-align: middle;
  position: relative;
  left: 0%;
  font-size: 15px;
}
</style>