<!DOCTYPE html>
<html>
  <head>
    <title>Check Movie</title>
  </head>
  <body>
    <div id="top">
      <div id="chick1">
        <img src="./image/char_chick.PNG">
      </div>
      <div id="topLocation">
        <input type="button" class="img-button" onclick="location.href='./afterLogin_main.html'">
        <button id="logout" onclick="location.href='./beforeLogin_main.html'">로그아웃</button>
          <button id="myList" onclick="location.href='./myList.html'">My 보관함</button>
        <div>
          <button id="movieRank" onclick="location.href='./afterLogin_ranking.html'">영화랭킹</button>
          <button id="naver" onclick="location.href='./afterLogin_naver_genre.html'">네이버</button>
          <button id="netflix" onclick="location.href='./afterLogin_netflix_genre.html'">넷플릭스</button>
        </div>
      </div>
    </div>
    <div id="naverPos">
      <div id="naverTitle">
        <p id="moreNaver">네이버 장르별</p>
      </div>
      <hr>
      <div id="naverGenre">
        <table style="width: 94%; margin-left:3.5%; border:1px solid #BDECB6;">
          <tr style="border: 1px solid #BDECB6;">
            <tr>
              <td style="color: rgb(95, 136, 101); text-align: center;"> 영화 검색용 버튼, 검색 input 자리 </a></td>
            </tr>
        </table>
        <table style="width: 94%; margin-left: 3.5%; margin-top: 100px; border:1px solid #BDECB6;">
          <colgroup>
            <col width="30%"/>
            <col width="60%"/>
            <col width="10%"/>
          </colgroup>
          <tr style="border: 1px solid #BDECB6;">
            <tr>
              <td rowspan="4" style="color: rgb(95, 136, 101); text-align: center;"> 영화 포스터 </a></td>
              <td style="color: rgb(95, 136, 101);"> 영화제목 </a></td>
              <td rowspan="4" style="color: rgb(95, 136, 101); text-align: center;"> ♡ </a></td>
            </tr>
            <tr>
              <td style="color: rgb(95, 136, 101);"> 출연배우 </a></td>
            </tr>
            <tr>
              <td style="color: rgb(95, 136, 101);"> 감독 </a></td>
            </tr>
            <tr>
              <td style="color: rgb(95, 136, 101);"> 평점 </a></td>
            </tr>
          </tr>
          <tr>
            <tr>
              <td rowspan="4" style="color: rgb(95, 136, 101); text-align: center;"> 영화 포스터 </a></td>
              <td style="color: rgb(95, 136, 101);"> 영화제목 </a></td>
              <td rowspan="4" style="color: rgb(95, 136, 101); text-align: center;"> ♡ </a></td>
            </tr>
            <tr>
              <td style="color: rgb(95, 136, 101);"> 출연배우 </a></td>
            </tr>
            <tr>
              <td style="color: rgb(95, 136, 101);"> 감독 </a></td>
            </tr>
            <tr>
              <td style="color: rgb(95, 136, 101);"> 평점 </a></td>
            </tr>
          </tr>
          <tr>
            <tr>
              <td rowspan="4" style="color: rgb(95, 136, 101); text-align: center;"> 영화 포스터 </a></td>
              <td style="color: rgb(95, 136, 101);"> 영화제목 </a></td>
              <td rowspan="4" style="color: rgb(95, 136, 101); text-align: center;"> ♡ </a></td>
            </tr>
            <tr>
              <td style="color: rgb(95, 136, 101);"> 출연배우 </a></td>
            </tr>
            <tr>
              <td style="color: rgb(95, 136, 101);"> 감독 </a></td>
            </tr>
            <tr>
              <td style="color: rgb(95, 136, 101);"> 평점 </a></td>
            </tr>
          </tr>
          <tr>
            <tr>
              <td rowspan="4" style="color: rgb(95, 136, 101); text-align: center;"> 영화 포스터 </a></td>
              <td style="color: rgb(95, 136, 101);"> 영화제목 </a></td>
              <td rowspan="4" style="color: rgb(95, 136, 101); text-align: center;"> ♡ </a></td>
            </tr>
            <tr>
              <td style="color: rgb(95, 136, 101);"> 출연배우 </a></td>
            </tr>
            <tr>
              <td style="color: rgb(95, 136, 101);"> 감독 </a></td>
            </tr>
            <tr>
              <td style="color: rgb(95, 136, 101);"> 평점 </a></td>
            </tr>
          </tr>
          <tr>
            <tr>
              <td rowspan="4" style="color: rgb(95, 136, 101); text-align: center;"> 영화 포스터 </a></td>
              <td style="color: rgb(95, 136, 101);"> 영화제목 </a></td>
              <td rowspan="4" style="color: rgb(95, 136, 101); text-align: center;"> ♡ </a></td>
            </tr>
            <tr>
              <td style="color: rgb(95, 136, 101);"> 출연배우 </a></td>
            </tr>
            <tr>
              <td style="color: rgb(95, 136, 101);"> 감독 </a></td>
            </tr>
            <tr>
              <td style="color: rgb(95, 136, 101);"> 평점 </a></td>
            </tr>
          </tr>
          <tr>
            <tr>
              <td rowspan="4" style="color: rgb(95, 136, 101); text-align: center;"> 영화 포스터 </a></td>
              <td style="color: rgb(95, 136, 101);"> 영화제목 </a></td>
              <td rowspan="4" style="color: rgb(95, 136, 101); text-align: center;"> ♡ </a></td>
            </tr>
            <tr>
              <td style="color: rgb(95, 136, 101);"> 출연배우 </a></td>
            </tr>
            <tr>
              <td style="color: rgb(95, 136, 101);"> 감독 </a></td>
            </tr>
            <tr>
              <td style="color: rgb(95, 136, 101);"> 평점 </a></td>
            </tr>
          </tr>
          <tr>
            <tr>
              <td rowspan="4" style="color: rgb(95, 136, 101); text-align: center;"> 영화 포스터 </a></td>
              <td style="color: rgb(95, 136, 101);"> 영화제목 </a></td>
              <td rowspan="4" style="color: rgb(95, 136, 101); text-align: center;"> ♡ </a></td>
            </tr>
            <tr>
              <td style="color: rgb(95, 136, 101);"> 출연배우 </a></td>
            </tr>
            <tr>
              <td style="color: rgb(95, 136, 101);"> 감독 </a></td>
            </tr>
            <tr>
              <td style="color: rgb(95, 136, 101);"> 평점 </a></td>
            </tr>
          </tr>
          <tr>
            <tr>
              <td rowspan="4" style="color: rgb(95, 136, 101); text-align: center;"> 영화 포스터 </a></td>
              <td style="color: rgb(95, 136, 101);"> 영화제목 </a></td>
              <td rowspan="4" style="color: rgb(95, 136, 101); text-align: center;"> ♡ </a></td>
            </tr>
            <tr>
              <td style="color: rgb(95, 136, 101);"> 출연배우 </a></td>
            </tr>
            <tr>
              <td style="color: rgb(95, 136, 101);"> 감독 </a></td>
            </tr>
            <tr>
              <td style="color: rgb(95, 136, 101);"> 평점 </a></td>
            </tr>
          </tr>
          <tr>
            <tr>
              <td rowspan="4" style="color: rgb(95, 136, 101); text-align: center;"> 영화 포스터 </a></td>
              <td style="color: rgb(95, 136, 101);"> 영화제목 </a></td>
              <td rowspan="4" style="color: rgb(95, 136, 101); text-align: center;"> ♡ </a></td>
            </tr>
            <tr>
              <td style="color: rgb(95, 136, 101);"> 출연배우 </a></td>
            </tr>
            <tr>
              <td style="color: rgb(95, 136, 101);"> 감독 </a></td>
            </tr>
            <tr>
              <td style="color: rgb(95, 136, 101);"> 평점 </a></td>
            </tr>
          </tr>
          <tr>
            <tr>
              <td rowspan="4" style="color: rgb(95, 136, 101); text-align: center;"> 영화 포스터 </a></td>
              <td style="color: rgb(95, 136, 101);"> 영화제목 </a></td>
              <td rowspan="4" style="color: rgb(95, 136, 101); text-align: center;"> ♡ </a></td>
            </tr>
            <tr>
              <td style="color: rgb(95, 136, 101);"> 출연배우 </a></td>
            </tr>
            <tr>
              <td style="color: rgb(95, 136, 101);"> 감독 </a></td>
            </tr>
            <tr>
              <td style="color: rgb(95, 136, 101);"> 평점 </a></td>
            </tr>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
<style type = "text/css">
body {
  background-color: #BDECB6;
  min-width: 750px;
}
#chick1 {
  position: absolute;
  top: 70px;
  left: 32%;
}
#top {
  height: 220px;
  border-bottom: 1px solid rgb(95, 136, 101);
}
#topLocation {
  margin: 30px 0px 30px 0px; 
}
input {
  vertical-align: middle;
  position: relative;
  left: 40%;
}
.img-button {
  background: url( "./image/movie_logo.PNG" ) no-repeat;
  border: none;
  width: 350px;
  height: 185px;
  cursor: pointer;
}
img {
  height: 100px;
  position: relative;
  left: 39%;
}
#logout {
  margin-top: 180px;
  float: right;
  margin-right: 100px;
  cursor: pointer;
}
#myList {
  margin-top: 180px;
  float: right;
  cursor: pointer;
}
button {
  margin-right: 10px;
  background-color: #BDECB6;
  border: 1px solid rgb(95, 136, 101);
  color: rgb(95, 136, 101);
  padding: 3px 6px 3px 6px;
}
#left {
  width: 200px;
  margin: 30px 0px 40px 40px;
  text-align: center;
}
#leftLocation {
  border-right: 1px solid rgb(95, 136, 101);
  border-left: 1px solid rgb(95, 136, 101);
}
#movieRank {
  border: none;
  font-size: 15px;
  cursor: pointer;
  float: left;
  margin-left: 100px;
}
#movieRank:hover {
  color: #FFFFDD;
}
#naver {
  border: none;
  font-size: 15px;
  cursor: pointer;
  float: left;
}
#naver:hover {
  color: #FFFFDD;
}
#netflix {
  border: none;
  font-size: 15px;
  cursor: pointer;
  float: left;
}
#netflix:hover {
  color: #FFFFDD;
}
#naverPos {
  position: absolute;
  min-width: 600px;
  top: 300px;
  left: 18%;
  background-color: #FFFFDD;
  height: 2000px;
  width: 65%;
  margin-bottom: 100px;
}
#moreNaver {
  margin: 10px 0px 10px 20px;
  font-size: 23px;
  background-color: #FFFFDD;
  color: rgb(95, 136, 101);
}
hr {
  border: 1px solid #BDECB6;
}
#naverTitle {
  margin: 2px 60px -4px 10px;
  display: flex;
  justify-content: space-between;
}
table {
  position: absolute;
  top: 92px;
  width: 100%;
  table-layout:fixed;
}
tr {
  height: 15px;
}
td {
  padding-left: 10px;
  padding-bottom: 10px;
  text-align: left;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
a {
  color: rgb(95, 136, 101);
  text-decoration: none;
  font-size: 15px;
}
</style>