<!DOCTYPE html>
<html>
  <head>
    <title>Check Movie</title>
  </head>
  <body>
    <div id="top">
      <div id="topLocation">
        <input type="button" class="img-button" onclick="location.href='./afterLogin_main.html'">
        <button id="logout" onclick="location.href='./beforeLogin_main.html'">로그아웃</button>
        <button id="myList" onclick="location.href='./myList.html'">My 보관함</button>
        <div>
          <button id="movieRank" onclick="location.href='./afterLogin_ranking.html'">영화랭킹</button>
          <button id="naver" onclick="location.href='./afterLogin_naver_genre.html'">네이버</button>
          <button id="netflix" onclick="location.href='./afterLogin_netflix_genre.html'">넷플릭스</button>
        </div>
      </div>
    </div>
    <div id="container">
    <div id="naverPos">
      <div id="naverTitle">
        <p id="moreNaver">네이버</p>
      </div>
      <div id="naverGenre">
        <form action="/users/search/movie" method="GET">
            <table id="naverGenreTable">
              <tr>
                <td><input type='submit' name = "genre" value='-드라마' style="background-color:transparent;  border:0px transparent solid;"></td>
                <td><input type='submit' name = "genre" value='-판타지' style="background-color:transparent;  border:0px transparent solid;"></td>
                <td><input type='submit' name = "genre" value='-서부' style="background-color:transparent;  border:0px transparent solid;"></td>
              </tr>
              <tr>
                <td><input type='submit' name = "genre" value='-공포' style="background-color:transparent;  border:0px transparent solid;"></td>
                <td><input type='submit' name = "genre" value='-로맨스' style="background-color:transparent;  border:0px transparent solid;"></td>
                <td><input type='submit' name = "genre" value='-모험' style="background-color:transparent;  border:0px transparent solid;"></td>
              </tr>
              <tr>
                <td><input type='submit' name = "genre" value='-스릴러' style="background-color:transparent;  border:0px transparent solid;"></td>
                <td><input type='submit' name = "genre" value='-느와르' style="background-color:transparent;  border:0px transparent solid;"></td>
                <td><input type='submit' name = "genre" value='-컬트' style="background-color:transparent;  border:0px transparent solid;"></td>
              </tr>
              <tr>
                <td><input type='submit' name = "genre" value='-다큐멘터리' style="background-color:transparent;  border:0px transparent solid;"></td>
                <td><input type='submit' name = "genre" value='-코미디' style="background-color:transparent;  border:0px transparent solid;"></td>
                <td><input type='submit' name = "genre" value='-가족' style="background-color:transparent;  border:0px transparent solid;"></td>
              </tr>
              <tr>
                <td><input type='submit' name = "genre" value='-미스터리' style="background-color:transparent;  border:0px transparent solid;"></td>
                <td><input type='submit' name = "genre" value='-전쟁' style="background-color:transparent;  border:0px transparent solid;"></td>
                <td><input type='submit' name = "genre" value='-애니메이션' style="background-color:transparent;  border:0px transparent solid;"></td>
              </tr>
              <tr>
                <td><input type='submit' name = "genre" value='-범죄' style="background-color:transparent;  border:0px transparent solid;"></td>
                <td><input type='submit' name = "genre" value='-뮤지컬' style="background-color:transparent;  border:0px transparent solid;"></td>
                <td><input type='submit' name = "genre" value='-SF' style="background-color:transparent;  border:0px transparent solid;"></td>
              </tr>
              <tr>
                <td><input type='submit' name = "genre" value='-액션' style="background-color:transparent;  border:0px transparent solid;"></td>
                <td><input type='submit' name = "genre" value='-무협' style="background-color:transparent;  border:0px transparent solid;"></td>
                <td><input type='submit' name = "genre" value='-에로' style="background-color:transparent;  border:0px transparent solid;"></td>
              </tr>
              <tr>
                <td><input type='submit' name = "genre" value='-서스펜스' style="background-color:transparent;  border:0px transparent solid;"></td>
                <td><input type='submit' name = "genre" value='-서사' style="background-color:transparent;  border:0px transparent solid;"></td>
                <td><input type='submit' name = "genre" value='-블랙코미디' style="background-color:transparent;  border:0px transparent solid;"></td>
              </tr>
              <tr>
                <td><input type='submit' name = "genre" value='-실험' style="background-color:transparent;  border:0px transparent solid;"></td>
                <td><input type='submit' name = "genre" value='-영화카툰' style="background-color:transparent;  border:0px transparent solid;"></td>
                <td><input type='submit' name = "genre" value='-영화음악' style="background-color:transparent;  border:0px transparent solid;"></td>
              </tr>
              <tr>
                <td><input type='submit' name = "genre" value='-영화패러디포스터' style="background-color:transparent;  border:0px transparent solid;"></td>
              </tr>
        </table>
        <div>
          <img id="ticket" src="image/ticket.png">
        </div>
      </div>
    </div>
    <div>
      <img id="projection" src="image/projection_netflix.png">
    </div>
  </div>
  </body>
</html>
<style type = "text/css">
@import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);
* {font-family: 'Jeju Hallasan', cursive}
* {font-weight: lighter;}
body {
  min-width: 1000px;
  margin: -9px 0px -9px 0px;
  /* overflow-x: hidden; */
}
button:focus {
  outline: 0 !important;
}
input:focus {
  outline: 0 !important;
}
#top {
  margin-top: -30px;
  background-image: url("./image/Logo_background.png");
  background-repeat: repeat;
  background-size:cover;
  height: 240px;
}
#topLocation {
  margin: 15px 0px 30px 0px; 
}
input {
  vertical-align: middle;
  position: relative;
  left: 20%;
  font-size: 15px;
}
.img-button {
  background: url( "./image/movie_logo.PNG" ) no-repeat;
  border: none;
  width: 450px;
  height: 200px;
  margin-left: 152.5px;
  cursor: pointer;
}
img {
  height: 100px;
  position: absolute;
  left: 39%;
}
#logout {
  margin-top: 200px;
  float: right;
  margin-right: 100px;
  cursor: pointer;
  background-color: transparent !important;
}
#myList {
  margin-top: 200px;
  float: right;
  cursor: pointer;
  background-color: transparent !important;
}
button {
  margin-right: 10px;
  border: none;
  color: black;
  padding: 3px 6px 3px 6px;
  background-color: transparent !important;
}
#left {
  width: 200px;
  margin: 30px 0px 40px 40px;
  text-align: center;
}
#movieRank {
  border: none;
  font-size: 15px;
  cursor: pointer;
  float: left;
  margin-left: 100px;
}
#movieRank:hover {
  color: rgb(163, 136, 114);
  font-size: 16px;
}
#naver {
  border: none;
  font-size: 15px;
  cursor: pointer;
  float: left;
}
#naver:hover {
  color: rgb(163, 136, 114);
  font-size: 16px;
}
#netflix {
  border: none;
  font-size: 15px;
  cursor: pointer;
  float: left;
}
#netflix:hover {
  color: rgb(163, 136, 114);
  font-size: 16px;
}
#container {
  background-image: url("./image/main_div_background.png");
  height: 830px;
  background-size: cover;
}
#naverPos {
  position: absolute;
  min-width: 600px;
  top: 200px;
  left: 18%;
  height: 755px;
  width: 850px;
  margin-bottom: 100px;
  background-image: url("./image/board.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#naverGenreTable {
  margin-top: 100px;
  width: 600px;
  left: 120px;
}
#moreNaver {
  margin: 190px 0px 10px 160px;
  font-size: 26px;
  color: #FE9B86;
}
#naverTitle {
  margin: 2px 60px -4px 10px;
  display: flex;
  justify-content: space-between;
}
table {
  position: absolute;
  top: 160px;
  width: 100%;
  table-layout:fixed;
}
tr {
  height: 22px;
}
td {
  padding-bottom: 10px;
  text-align: left;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
  text-decoration: none;
  font-size: 15px;
}
#ticket {
  margin: -80px 0px 0px 300px;
}
#projection {
  margin: 380px 0px 0px -470px;
  height: 350px;
}
input:hover {
  color: rgb(255, 100, 149);
  cursor: pointer;
}
</style>