<!DOCTYPE html>
<html>
  <head>
    <title>Check Movie</title>
  </head>
  <body>
    <div id="top">
      <div id="chick1">
        <img src="./image/char_chick.PNG">
      </div>
      <div id="topLocation">
        <input type="button" class="img-button" onclick="location.href='./afterLogin_main.html'">
        <button id="login" onclick="location.href='./beforeLogin_main.html'">로그아웃</button>
        <button id="myList" onclick="location.href='./myList.html'">My 보관함</button>
        <div>
          <button id="movieRank" onclick="location.href='./afterLogin_ranking.html'">영화랭킹</button>
          <button id="naver" onclick="location.href='./afterLogin_naver_genre.html'">네이버</button>
          <button id="netflix" onclick="location.href='./afterLogin_netflix_genre.html'">넷플릭스</button>
        </div>
      </div>
    </div>
    <div id="netflixPos">
      <div id="netflixTitle">
        <p id="moreNetflix">넷플릭스</p>
      </div>
      <hr>
      <div id="netflixGenre">
        <table>
          <tr>
            <td><a href="http://www.netflix.com/browse/genre/5685">- 한국 영화</a></td>
            <td><a href="http://www.netflix.com/browse/genre/6548">- 코미디</a></td>
            <td><a href="http://www.netflix.com/browse/genre/5475">- 로맨틱 코미디</a></td>
          </tr>
          <tr>
            <td><a href="http://www.netflix.com/browse/genre/8933">- 스릴러</a></td>
            <td><a href="http://www.netflix.com/browse/genre/7424">- 일본애니메이션</a></td>
            <td><a href="http://www.netflix.com/browse/genre/10118">- 코믹북 & 슈퍼히어로</a></td>
          </tr>
          <tr>
            <td><a href="http://www.netflix.com/browse/genre/4370">- 스포츠 영화</a></td>
            <td><a href="http://www.netflix.com/browse/genre/8883">- 로맨스 영화</a></td>
            <td><a href="http://www.netflix.com/browse/genre/1365">- 액션 & 어드벤쳐</a></td>
          </tr>
          <tr>
            <td><a href="http://www.netflix.com/browse/genre/3327">- 외계인 SF</a></td>
            <td><a href="http://www.netflix.com/browse/genre/4370">- 스포츠 영화</a></td>
            <td><a href="http://www.netflix.com/browse/genre/31574">- 클래식 영화</a></td>
          </tr>
          <tr>
            <td><a href="http://www.netflix.com/browse/genre/11881">- 성인 애니메이션</a></td>
            <td><a href="https://www.netflix.com/kr/browse/genre/7687">- 흑백 영화(필름 누아르)</a></td>
            <td><a href="https://www.netflix.com/kr/browse/genre/9833">- 리얼리티 TV</a></td>
          </tr>
          <tr>
            <td><a href="https://www.netflix.com/kr/browse/genre/783">- 어린이 & 가족 영화</a></td>
            <td><a href="https://www.netflix.com/kr/browse/genre/3185">- 갱스터 영화</a></td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
<style type = "text/css">
body {
  background-color: #BDECB6;
  min-width: 750px;
}
#chick1 {
  position: absolute;
  top: 70px;
  left: 32%;
}
#top {
  height: 220px;
  border-bottom: 1px solid rgb(95, 136, 101);
}
#topLocation {
  margin: 30px 0px 30px 0px; 
}
input {
  vertical-align: middle;
  position: relative;
  left: 40%;
}
.img-button {
  background: url( "./image/movie_logo.PNG" ) no-repeat;
  border: none;
  width: 350px;
  height: 185px;
  cursor: pointer;
}
img {
  height: 100px;
  position: relative;
  left: 39%;
}
#login {
  margin-top: 180px;
  float: right;
  margin-right: 100px;
  cursor: pointer;
}
#myList{
  margin-top: 180px;
  float: right;
  cursor: pointer;
}
button {
  margin-right: 10px;
  background-color: #BDECB6;
  border: 1px solid rgb(95, 136, 101);
  color: rgb(95, 136, 101);
  padding: 3px 6px 3px 6px;
}
#left {
  width: 200px;
  margin: 30px 0px 40px 40px;
  text-align: center;
}
#leftLocation {
  border-right: 1px solid rgb(95, 136, 101);
  border-left: 1px solid rgb(95, 136, 101);
}
#movieRank {
  border: none;
  font-size: 15px;
  cursor: pointer;
  float: left;
  margin-left: 100px;
}
#movieRank:hover {
  color: #FFFFDD;
}
#naver {
  border: none;
  font-size: 15px;
  cursor: pointer;
  float: left;
}
#naver:hover {
  color: #FFFFDD;
}
#netflix {
  border: none;
  font-size: 15px;
  cursor: pointer;
  float: left;
}
#netflix:hover {
  color: #FFFFDD;
}
#netflixPos {
  position: absolute;
  min-width: 600px;
  top: 300px;
  left: 18%;
  background-color: #FFFFDD;
  height: 330px;
  width: 65%;
  margin-bottom: 100px;
}
#moreNetflix {
  margin: 10px 0px 10px 20px;
  font-size: 23px;
  background-color: #FFFFDD;
  color: rgb(95, 136, 101);
}
hr {
  border: 1px solid #BDECB6;
}
#netflixTitle {
  margin: 2px 60px -4px 10px;
  display: flex;
  justify-content: space-between;
}
table {
  position: absolute;
  top: 92px;
  width: 100%;
  table-layout:fixed;
}
tr {
  height: 15px;
}
td {
  padding-left: 10px;
  padding-bottom: 10px;
  text-align: left;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
a {
  color: rgb(95, 136, 101);
  text-decoration: none;
  font-size: 15px;
}
</style>