<!DOCTYPE html>
<html>
  <head>
    <title>Check Movie</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous">
    </script>
  
    <script> //일간, 주간, 월간 랭킹 보여주는 script
    $(document).ready(function() {
      $('ul.tabs li').click(function() {
      var tab_id = $(this).attr('data-tab');
      $('ul.tabs li').removeClass('current');
      $('.tab-content').removeClass('current');
      $(this).addClass('current');
      $("#"+tab_id).addClass('current');
      })
    })
    </script>

    <script>
    var dt = new Date();
    var m = dt.getMonth() + 1;
    if (m < 10) {
      var month = "0" + m;
    } else {
      var month = m + "";
    }

    var d = dt.getDate() - 1;
    if (d < 10) {
      var day = "0" + d;
    } else {
      var day = d + "";
    }

    var y = dt.getFullYear();
    var year = y + "";

    var result = year + month + day;
    $.ajax( {
      method: "GET",
      url: "http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key=0c0a5e530eba657434be85f5e39f5f02&targetDt="+result  
    })
    .done(function (msg) {
      console.log(msg);
      $( "#tabList1" ).append( "<tr class = 'line'><td align = center width = 93 >순위</td><td width = 624 >영화 제목</td></tr>"+
                               "<tr><td align = center>"+ 1 + "</td><td>"+ msg.boxOfficeResult.dailyBoxOfficeList[0].movieNm+"</td></tr>"+
                               "<tr><td align = center>"+ 2 + "</td><td>"+ msg.boxOfficeResult.dailyBoxOfficeList[1].movieNm+"</td></tr>"+
                               "<tr><td align = center>"+ 3 + "</td><td>"+ msg.boxOfficeResult.dailyBoxOfficeList[2].movieNm+"</td></tr>"+
                               "<tr><td align = center>"+ 4 + "</td><td>"+ msg.boxOfficeResult.dailyBoxOfficeList[3].movieNm+"</td></tr>"+
                               "<tr><td align = center>"+ 5 + "</td><td>"+ msg.boxOfficeResult.dailyBoxOfficeList[4].movieNm+"</td></tr>"+
                               "<tr><td align = center>"+ 6 + "</td><td>"+ msg.boxOfficeResult.dailyBoxOfficeList[5].movieNm+"</td></tr>"+
                               "<tr><td align = center>"+ 7 + "</td><td>"+ msg.boxOfficeResult.dailyBoxOfficeList[6].movieNm+"</td></tr>"+
                               "<tr><td align = center>"+ 8 + "</td><td>"+ msg.boxOfficeResult.dailyBoxOfficeList[7].movieNm+"</td></tr>"+
                               "<tr><td align = center>"+ 9 + "</td><td>"+ msg.boxOfficeResult.dailyBoxOfficeList[8].movieNm+"</td></tr>"+
                               "<tr><td align = center>"+ 10 + "</td><td>"+ msg.boxOfficeResult.dailyBoxOfficeList[9].movieNm+"</td></tr>");
    });
    </script>

    <script>
    var dt = new Date();
    var m = dt.getMonth() + 1;
    if (m < 10) {
      var month = "0" + m;
    } else {
      var month = m + "";
    }

    var d = dt.getDate() - 7;
    if (d < 10) {
      var day = "0" + d;
    } else {
      var day = d + "";
    }

    var y = dt.getFullYear();
    var year = y + "";

    var result2 = year + month + day;
    $.ajax({ 
    method: "GET",
    url: "http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchWeeklyBoxOfficeList.json?key=0c0a5e530eba657434be85f5e39f5f02&weekGb=0&targetDt="+result2
    })
    .done(function (msg) {
      console.log(msg);
      $( "#tabList2" ).append( "<tr><td align = center width = 93>순위</td><td width = 624>영화 제목</td></tr>"+
                               "<tr><td align = center>"+ 1 + "</td><td>"+ msg.boxOfficeResult.weeklyBoxOfficeList[0].movieNm+"</td></tr>"+
                               "<tr><td align = center>"+ 2 + "</td><td>"+ msg.boxOfficeResult.weeklyBoxOfficeList[1].movieNm+"</td></tr>"+
                               "<tr><td align = center>"+ 3 + "</td><td>"+ msg.boxOfficeResult.weeklyBoxOfficeList[2].movieNm+"</td></tr>"+
                               "<tr><td align = center>"+ 4 + "</td><td>"+ msg.boxOfficeResult.weeklyBoxOfficeList[3].movieNm+"</td></tr>"+
                               "<tr><td align = center>"+ 5 + "</td><td>"+ msg.boxOfficeResult.weeklyBoxOfficeList[4].movieNm+"</td></tr>"+
                               "<tr><td align = center>"+ 6 + "</td><td>"+ msg.boxOfficeResult.weeklyBoxOfficeList[5].movieNm+"</td></tr>"+
                               "<tr><td align = center>"+ 7 + "</td><td>"+ msg.boxOfficeResult.weeklyBoxOfficeList[6].movieNm+"</td></tr>"+
                               "<tr><td align = center>"+ 8 + "</td><td>"+ msg.boxOfficeResult.weeklyBoxOfficeList[7].movieNm+"</td></tr>"+
                               "<tr><td align = center>"+ 9 + "</td><td>"+ msg.boxOfficeResult.weeklyBoxOfficeList[8].movieNm+"</td></tr>"+
                               "<tr><td align = center>"+ 10 + "</td><td>"+ msg.boxOfficeResult.weeklyBoxOfficeList[9].movieNm+"</td></tr>");
    });
  
    $.ajax( {
      method: "GET",
      url: "http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchWeeklyBoxOfficeList.json?key=0c0a5e530eba657434be85f5e39f5f02&weekGb=1&targetDt="+result2
    })
  
    .done(function (msg) {
      console.log(msg);
      $( "#tabList3" ).append("<tr><td align = center width = 93>순위</td><td width = 624>영화 제목</td></tr>"+
                               "<tr><td align = center>"+ 1 + "</td><td>"+ msg.boxOfficeResult.weeklyBoxOfficeList[0].movieNm+"</td></tr>"+
                               "<tr><td align = center>"+ 2 + "</td><td>"+ msg.boxOfficeResult.weeklyBoxOfficeList[1].movieNm+"</td></tr>"+
                               "<tr><td align = center>"+ 3 + "</td><td>"+ msg.boxOfficeResult.weeklyBoxOfficeList[2].movieNm+"</td></tr>"+
                               "<tr><td align = center>"+ 4 + "</td><td>"+ msg.boxOfficeResult.weeklyBoxOfficeList[3].movieNm+"</td></tr>"+
                               "<tr><td align = center>"+ 5 + "</td><td>"+ msg.boxOfficeResult.weeklyBoxOfficeList[4].movieNm+"</td></tr>"+
                               "<tr><td align = center>"+ 6 + "</td><td>"+ msg.boxOfficeResult.weeklyBoxOfficeList[5].movieNm+"</td></tr>"+
                               "<tr><td align = center>"+ 7 + "</td><td>"+ msg.boxOfficeResult.weeklyBoxOfficeList[6].movieNm+"</td></tr>"+
                               "<tr><td align = center>"+ 8 + "</td><td>"+ msg.boxOfficeResult.weeklyBoxOfficeList[7].movieNm+"</td></tr>"+
                               "<tr><td align = center>"+ 9 + "</td><td>"+ msg.boxOfficeResult.weeklyBoxOfficeList[8].movieNm+"</td></tr>"+
                               "<tr><td align = center>"+ 10 + "</td><td>"+ msg.boxOfficeResult.weeklyBoxOfficeList[9].movieNm+"</td></tr>"
                               );
    });
    </script>
  </head>
  <body>
    <div id="top">
      <div id="topLocation">
        <input type="button" class="img-button" onclick="location.href='./afterLogin_main.html'">
        <button id="logout" onclick="location.href='./beforeLogin_main.html'">로그아웃</button>
        <button id="myList" onclick="location.href='./myList.html'">My 보관함</button>
        <div>
          <button id="movieRank" onclick="location.href='./afterLogin_ranking.html'">영화랭킹</button>
          <button id="naver" onclick="location.href='./afterLogin_naver_genre.html'">네이버</button>
          <button id="netflix" onclick="location.href='./afterLogin_netflix_genre.html'">넷플릭스</button>
        </div>
      </div>
    </div>
    <div id="container">
    <div id="rankPos">
      <ul class="tabs">
        <li class="tab-link current" data-tab="tab-1">일간</li>
        <li class="tab-link" data-tab="tab-2">주간</li>
        <li class="tab-link" data-tab="tab-3">주말</li>
        <li class="tab-link" data-tab="tab-4">찜 한 영화</li>
      </ul>
      <hr id="ar">
     

      <div id="tab-1" class="tab-content current">
        <table id = tabList1>
        </table>
      </div>
      <div id="tab-2" class="tab-content">
        <table id = tabList2>
        </table>
      </div>
      <div id="tab-3" class="tab-content">
        <table id = tabList3>
        </table>
      </div>
      <div id="tab-4" class="tab-content">

      </div>
      
     
    
    </div>
  </div>
  </body>
</html>
<style type = "text/css">
@import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);
* {font-family: 'Jeju Hallasan', cursive;}
body {
  min-width: 1000px;
  margin: -9px 0px -9px 0px;
  /* overflow-x: hidden; */
}
button:focus {
  outline: 0 !important;
}
input:focus {
  outline: 0 !important;
}
#top {
  margin-top: -30px;
  background-image: url("./image/Logo_background.png");
  background-repeat: repeat;
  background-size:cover;
  height: 240px;
}
#topLocation {
  margin: 15px 0px 30px 0px; 
}
input {
  vertical-align: middle;
  position: relative;
  left: 40%;
}
.img-button {
  background: url( "./image/movie_logo.PNG" ) no-repeat;
  border: none;
  width: 450px;
  height: 200px;
  margin-left: -100px;
  cursor: pointer;
}
img {
  height: 100px;
  position: absolute;
  left: 39%;
}
#logout {
  margin-top: 180px;
  float: right;
  margin-right: 100px;
  cursor: pointer;
  background-color: transparent !important;
}
#myList {
  margin-top: 180px;
  float: right;
  cursor: pointer;
  background-color: transparent !important;
}
button {
  margin-right: 10px;
  border: none;
  color: black;
  padding: 3px 6px 3px 6px;
  background-color: transparent !important;
}
#left {
  width: 200px;
  margin: 30px 0px 40px 40px;
  text-align: center;
}
#movieRank {
  border: none;
  font-size: 15px;
  cursor: pointer;
  float: left;
  margin-left: 100px;
}
#movieRank:hover {
  color: rgb(163, 136, 114);;
  font-size: 16px;
}
#naver {
  border: none;
  font-size: 15px;
  cursor: pointer;
  float: left;
}
#naver:hover {
  color: rgb(163, 136, 114);;
  font-size: 16px;
}
#netflix {
  border: none;
  font-size: 15px;
  cursor: pointer;
  float: left;
}
#netflix:hover {
  color: rgb(163, 136, 114);;
  font-size: 16px;
}
#container {
  background-image: url("./image/main_div_background.png");
  height: 1200px;
  background-size: cover;
}
ul.tabs {
  margin:0px 60px 10px 60px;
  padding: 0px;
  list-style : none;
  display: flex;
  justify-content: space-between;
}
ul.tabs li {
  background: none;
  color: black ;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 23px;
}
ul.tabs li.current {
  background-image: url("./image/popcon.png");
  background-repeat : no-repeat;
  background-size : contain;
  background-position: center center;
  color: black ;
}
.tab-content {
  display: none;
  padding: 130px;
}
.tab-content.current {
  display: inherit;
}
#rankPos {
  position: absolute;
  min-width: 600px;
  top: 300px;
  left: 18%;
  height: 1000px;
  width: 65%;
  margin-bottom: 100px;
}
#rankTitle {
  margin: 0px 60px 10px 60px;
  display: flex;
  justify-content: space-between;
}
#tabList1{
  position: absolute;
  top: 65px;
  left : 53px;
  height: 92%;
  table-layout:fixed;
  border-collapse: collapse; 

}
#tabList1 td{
  overflow : hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  color: black ;
  padding-right: 70px;
  padding-left: 10px;
  
}
#tabList1 tr:first-child{
}

#tabList2{
  position: absolute;
  top: 65px;
  left : 53px;
  height: 92%;
  table-layout:fixed;
  border-collapse: collapse; 

}
#tabList2 td{
  overflow : hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  color: black ;
  padding-right: 70px;
  padding-left: 10px;
}
#tabList2 tr:first-child{
}
#tabList3{
  position: absolute;
  top: 65px;
  left : 53px;
  height: 92%;
  table-layout:fixed;
  border-collapse: collapse; 

}
#tabList3 td{
  overflow : hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  color: black ;
  padding-right: 70px;
  padding-left: 10px;
}
#tabList3 tr:first-child{
}
</style>