<!DOCTYPE html>
<html>
  <head>
    <title>Check Movie</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous">
    </script>
  
    <script> //일간, 주간, 월간 랭킹 보여주는 script
    $(document).ready(function() {
      $('ul.tabs li').click(function() {
      var tab_id = $(this).attr('data-tab');
      $('ul.tabs li').removeClass('current');
      $('.tab-content').removeClass('current');
      $(this).addClass('current');
      $("#"+tab_id).addClass('current');
      })
    })
    </script>

    <script>
    var dt = new Date();
    var m = dt.getMonth() + 1;
    if (m < 10) {
      var month = "0" + m;
    } else {
      var month = m + "";
    }

    var d = dt.getDate() - 1;
    if (d < 10) {
      var day = "0" + d;
    } else {
      var day = d + "";
    }

    var y = dt.getFullYear();
    var year = y + "";

    var result = year + month + day;
    $.ajax( {
      method: "GET",
      url: "http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key=0c0a5e530eba657434be85f5e39f5f02&targetDt="+result  
    })
    .done(function (msg) {
      console.log(msg);
      $( "#tabList" ).append( "<tr><td>"+ msg.boxOfficeResult.dailyBoxOfficeList[0].movieNm+"</td><td>"+
                                msg.boxOfficeResult.dailyBoxOfficeList[1].movieNm + "</td><td>"+
                                msg.boxOfficeResult.dailyBoxOfficeList[2].movieNm+"</td><td>"+
                                msg.boxOfficeResult.dailyBoxOfficeList[3].movieNm+"</td></tr>");
    });
    </script>

    <script>
    var dt = new Date();
    var m = dt.getMonth() + 1;
    if (m < 10) {
      var month = "0" + m;
    } else {
      var month = m + "";
    }

    var d = dt.getDate() - 7;
    if (d < 10) {
      var day = "0" + d;
    } else {
      var day = d + "";
    }

    var y = dt.getFullYear();
    var year = y + "";

    var result2 = year + month + day;
    $.ajax({ 
    method: "GET",
    url: "http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchWeeklyBoxOfficeList.json?key=0c0a5e530eba657434be85f5e39f5f02&weekGb=0&targetDt="+result2
    })
    .done(function (msg) {
      console.log(msg);
      $( "#tabList2" ).append( "<tr><td>"+ msg.boxOfficeResult.weeklyBoxOfficeList[0].movieNm+"</td><td>"+
                                msg.boxOfficeResult.weeklyBoxOfficeList[1].movieNm + "</td><td>"+
                                msg.boxOfficeResult.weeklyBoxOfficeList[2].movieNm+"</td><td>"+
                                msg.boxOfficeResult.weeklyBoxOfficeList[3].movieNm+"</td></tr>");
    });
  
    $.ajax( {
      method: "GET",
      url: "http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchWeeklyBoxOfficeList.json?key=0c0a5e530eba657434be85f5e39f5f02&weekGb=1&targetDt="+result2
    })
  
    .done(function (msg) {
      console.log(msg);
      $( "#tabList3" ).append( "<tr><td>"+ msg.boxOfficeResult.weeklyBoxOfficeList[0].movieNm+"</td><td>"+
                                msg.boxOfficeResult.weeklyBoxOfficeList[1].movieNm + "</td><td>"+
                                msg.boxOfficeResult.weeklyBoxOfficeList[2].movieNm+"</td><td>"+
                                msg.boxOfficeResult.weeklyBoxOfficeList[3].movieNm+"</td></tr>");
    });
    </script>
  </head>
  <body>
    <!-- Chck Movie 로고, 회원가입,로그인, 메뉴 있는 top 부분 -->
    <div id="top">
      <div id="topLocation">
          <input type="button" class="img-button" onclick="location.reload()">
            <form action = "/users/logout" method="get">
          <button id="logout" onclick="location.href='./beforeLogin_main.html'">로그아웃</button>
            </form>
          <button id="myList" onclick="location.href='./myList.html'">My 보관함</button>
        <div>
          <button id="movieRank" onclick="location.href='./afterLogin_ranking.html'">영화랭킹</button>
          <button id="naver" onclick="location.href='./afterLogin_naver_genre.html'">네이버</button>
          <button id="netflix" onclick="location.href='./afterLogin_netflix_genre.html'">넷플릭스</button>
        </div>
      </div>
      
    </div>
    <div id="container">
    <!-- 랭킹 띄워주는 부분 -->
    <div id="rankPos">
      <ul class="tabs">
        <li class="tab-link current" data-tab="tab-1" style="margin-left:50px">일간</li>
        <li class="tab-link" data-tab="tab-2" style="margin-left:91px">주간</li>
        <li class="tab-link" data-tab="tab-3" style="margin-left:95px">주말</li>
        <li class="tab-link" data-tab="tab-4" style="margin-left:70px">찜 한 영화</li>
      </ul>
      <div>
        <button id="rankMore" onclick="location.href='./beforeLogin_ranking.html'">더보기</button>
      </div>

      <table id="poster">
        <tr>
          <td id="posterPos1"></td>
          <td id="posterPos2"></td>
          <td id="posterPos3"></td>
          <td id="posterPos4"></td>
        </tr>
      </table>

      <div id="tab-1" class="tab-content current">
          <table id = "tabList">
            
          </table>
      </div>
      <div id="tab-2" class="tab-content">
        <table id = "tabList2">

        </table>
      </div>
      <div id="tab-3" class="tab-content">
        <table id = "tabList3">

        </table>
      </div>
      <div id="tab-4" class="tab-content">
    
      </div>  
    </div>
    <div id="naverPos">
      <p id="naverTitle">네이버 장르 </p>
      <!-- 네이버 장르 부분 -->
      <button id="more" onclick="location.href='./afterLogin_naver_genre.html'">더보기</button>
      <div id="naverGenre">
        <table id="naverGenreTable">
          <tr>
            <td id="naverGenre" onclick="location.href='./afterLogin_naver_genre_show.html'">- 드라마</td>
            <td id="naverGenre" onclick="location.href='./afterLogin_naver_genre_show.html'">- 판타지</td>
            <td id="naverGenre" onclick="location.href='./afterLogin_naver_genre_show.html'">- 서부</td>
          </tr>
          <tr>
            <td id="naverGenre" onclick="location.href='./afterLogin_naver_genre_show.html'">- 공포</td>
            <td id="naverGenre" onclick="location.href='./afterLogin_naver_genre_show.html'">- 로맨스</td>
            <td id="naverGenre" onclick="location.href='./afterLogin_naver_genre_show.html'">- 모험</td>
          </tr>
          <tr>
            <td id="naverGenre" onclick="location.href='./afterLogin_naver_genre_show.html'">- 스릴러</td>
            <td id="naverGenre" onclick="location.href='./afterLogin_naver_genre_show.html'">- 느와르</td>
            <td id="naverGenre" onclick="location.href='./afterLogin_naver_genre_show.html'">- 컬트</td>
          </tr>
          <tr>
            <td id="naverGenre" onclick="location.href='./afterLogin_naver_genre_show.html'">- 다큐멘터리</td>
            <td id="naverGenre" onclick="location.href='./afterLogin_naver_genre_show.html'">- 코미디</td>
            <td id="naverGenre" onclick="location.href='./afterLogin_naver_genre_show.html'">- 가족</td>
          </tr>
        </table>
      </div>
      <div id="beam1">
        <img src="./image/beam_project.png">
      </div>
    </div>
    <div id="netflixPos">
      <p id="netflixTitle">넷플릭스 장르</p>
      <!--넷플릭스 장르 부분-->
      <button id="more" onclick="location.href='./afterLogin_netflix_genre.html'">더보기</button>
      <div id="netflixGenre">
        <table id="netflixGenreTable">
          <tr>
            <td><a href="http://www.netflix.com/browse/genre/5685">- 한국 영화</a></td>
            <td><a href="http://www.netflix.com/browse/genre/6548">- 코미디</a></td>
            <td><a href="http://www.netflix.com/browse/genre/5475">- 로맨틱 코미디</a></td>
          </tr>
          <tr>
            <td><a href="http://www.netflix.com/browse/genre/8933">- 스릴러</a></td>
            <td><a href="http://www.netflix.com/browse/genre/7424">- 일본애니메이션</a></td>
            <td><a href="http://www.netflix.com/browse/genre/10118">- 코믹북 & 슈퍼히어로</a></td>
          </tr>
          <tr>
            <td><a href="http://www.netflix.com/browse/genre/4370">- 스포츠 영화</a></td>
            <td><a href="http://www.netflix.com/browse/genre/8883">- 로맨스 영화</a></td>
            <td><a href="http://www.netflix.com/browse/genre/1365">- 액션 & 어드벤쳐</a></td>
          </tr>
          <tr>
            <td><a href="http://www.netflix.com/browse/genre/3327">- 외계인 SF</a></td>
            <td><a href="http://www.netflix.com/browse/genre/4370">- 스포츠 영화</a></td>
            <td><a href="http://www.netflix.com/browse/genre/31574">- 클래식 영화</a></td>
          </tr>
        </table>
      </div>
      <div id="beam2">
        <img src="./image/beam_project.png">
      </div>
    </div>
  </div>
  </body>
</html>
<style type = "text/css">
@import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);
* {font-family: 'Jeju Hallasan', cursive}
* {font-weight: lighter;}
body {
  min-width: 1000px;
  margin: -9px 0px -9px 0px;
  /* overflow-x: hidden; */
}
button:focus {
  outline: 0 !important;
}
input:focus {
  outline: 0 !important;
}
#top {
  margin-top: -30px;
  background-image: url("./image/Logo_background.png");
  background-repeat: repeat;
  background-size:cover;
  height: 240px;
}
#topLocation {
  margin: 15px 0px 30px 0px; 
}
input {
  vertical-align: middle;
  position: relative;
  left: 40%;
}
.img-button {
  background: url( "./image/movie_logo.PNG" ) no-repeat;
  border: none;
  width: 450px;
  height: 200px;
  margin-left: -100px;
  cursor: pointer;
}
img {
  height: 100px;
  position: absolute;
  left: 39%;
}
#logout {
  float: right;
  margin-right: 100px;
  cursor: pointer;
  background-color: transparent !important;
}
#myList {
  float: right;
  cursor: pointer;
  background-color: transparent !important;
}
button {
  margin-right: 10px;
  border: none;
  color: black;
  padding: 3px 6px 3px 6px;
  background-color: transparent !important;
}
#left {
  width: 200px;
  margin: 30px 0px 40px 40px;
  text-align: center;
}
#movieRank {
  border: none;
  font-size: 15px;
  cursor: pointer;
  float: left;
  margin-left: 100px;
}
#movieRank:hover {
  color: rgb(163, 136, 114);
  font-size: 16px;
}
#naver {
  border: none;
  font-size: 15px;
  cursor: pointer;
  float: left;
}
#naver:hover {
  color: rgb(163, 136, 114);
  font-size: 16px;
}
#netflix {
  border: none;
  font-size: 15px;
  cursor: pointer;
  float: left;
}
#netflix:hover {
  color: rgb(163, 136, 114);
  font-size: 16px;
}
#container {
  background-image: url("./image/main_div_background.png");
  height: 900px;
  background-size: cover;
}
#rankPos {
  position: absolute;
  min-width: 800px;
  top: 300px;
  left: 15%;
  height: 350px;
  width: 70%;
}
#poster {
  margin-left: 3.9%;
  margin-top: -20px; 
  height: 170px;
}
#posterPos1 {
  background-image: url("./image/test.jpg");
  background-repeat: no-repeat;
}
#posterPos2 {
  background-image: url("./image/test.jpg");
  background-repeat: no-repeat;
}
#posterPos3 {
  background-image: url("./image/test.jpg");
  background-repeat: no-repeat;
}
#posterPos4 {
  background-image: url("./image/test.jpg");
  background-repeat: no-repeat;
}
ul.tabs {
  /* margin:0px 80px 10px 90px; */
  padding: 0px;
  list-style : none;
}
ul.tabs li {
  background: none;
  color: black ;
  display: inline-block;
  padding: 10px 40px;
  cursor: pointer;
  font-size: 23px;
}
ul.tabs li.current {
  background-image: url("./image/popcon.png");
  background-repeat : no-repeat;
  background-size : contain;
  background-position: center center;
  color: black ;
}
.tab-content {
   display: none;
   padding: 130px;
}
.tab-content.current {
   display: inherit;
}
#rankTitle {
  margin: 0px 60px 10px 60px;
  display: flex;
  justify-content: space-between;
}
#naverPos {
  position: relative;
  top: 380px;
  left: 15%;
  background-image: url("./image/board.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 285px;
  width: 400px;
  min-width: 282px;
}
#naverTitle {
  font-size: 23px;
  color: #FE9B86;
  margin: 15px 0px 10px 20px;
  padding: 80px 0px 20px 50px;
}
#rankMore {
  border: none;
  cursor: pointer;
  background-color: #FFFFDD;
  position: relative;
  float: right;
  bottom: -200px;
}
#more {
  border: none;
  cursor: pointer;
  background-color: #FFFFDD;
  position: relative;
  float: right;
  margin: 110px 50px 0px 0px;
}
#hr {
  position: relative;
  top: -40px;
  width: 100%;
}
#netflixPos {
  position: relative;
  top: 80px;
  left: 55%;
  background-image: url("./image/board.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 285px;
  width: 400px;
  min-width: 282px;
}
#netflixTitle {
  font-size: 23px;
  color: #FDC263;
  margin: 15px 0px 10px 20px;
  padding: 80px 0px 20px 50px;
}
table {
  position: absolute;
  top: 92px;
  width: 100%;
  table-layout:fixed;
}
tr {
  height: 15px;
}
td {
  padding-left: 10px;
  padding-bottom: 10px;
  text-align: left;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
  text-decoration: none;
  font-size: 15px;
}
a {
  color: black;
  text-decoration: none;
  font-size: 15px;
}
a:hover {
  color: rgb(252, 162, 17);
}
#naverGenre:hover {
  color: rgb(255, 100, 149);
  cursor: pointer;
}
#naverGenreTable {
  margin-top: 30px;
  margin-left: 50px;
  width: 300px;
}
#netflixGenreTable {
  margin-top: 30px;
  margin-left: 50px;
  width: 300px;
}
#tabList {
  position: absolute;
  top: 245px;
  right : 0.5px;
  table-layout:fixed;
}
#tabList td {
  text-align: center;
  width:100%;
  overflow : hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#tabList2 {
  position: absolute;
  top: 245px;
  right : 0.5px;
  table-layout:fixed;
}
#tabList2 td {
  text-align: center;
  width:100%;
  overflow : hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#tabList3 {
  position: absolute;
  top: 245px;
  right : 0.5px;
  table-layout:fixed;
}
#tabList3 td {
  text-align: center;
  width:100%;
  overflow : hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#beam1 {
  position: relative;
  top: 180px;
  left: -22px;
}
#beam2 {
  position: relative;
  top: 180px;
  left: -17px;
}
</style>