<!DOCTYPE html>
<html>
  <head>
    <title>Check Movie</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous">
    </script>
  
    <script> //일간, 주간, 월간 랭킹 보여주는 script
    $(document).ready(function() {
      $('ul.tabs li').click(function() {
      var tab_id = $(this).attr('data-tab');
      $('ul.tabs li').removeClass('current');
      $('.tab-content').removeClass('current');
      $(this).addClass('current');
      $("#"+tab_id).addClass('current');
      })
    })
    </script>
  </head>
  <body>
    <div id="top">
      <div id="topLocation">
        <input type="button" class="img-button" onclick="location.href='./beforeLogin_main.html'">
        <button id="login" onclick="location.href='./login.html'">로그인</button>
        <button id="signup" onclick="location.href='./signup.html'">회원가입</button>
        <div>
          <button id="movieRank" onclick="location.href='./beforeLogin_ranking.html'">영화랭킹</button>
          <button id="naver" onclick="location.href='./beforeLogin_naver_genre.html'">네이버</button>
          <button id="netflix" onclick="location.href='./beforeLogin_netflix_genre.html'">넷플릭스</button>
        </div>
      </div>
    </div>
    <div id="container">
    <div id="rankPos">

      <ul class="tabs">
        <li class="tab-link current" data-tab="tab-1">일간</li>
        <li class="tab-link" data-tab="tab-2">주간</li>
        <li class="tab-link" data-tab="tab-3">주말</li>
        <li class="tab-link" data-tab="tab-4">찜 한 영화</li>
      </ul>

      
        <!-- <div id="ranking_poster">
          <img src="./image/ranking_poster.png" style="width: 900px; height: 200px;">
        </div> -->
      <div>
        <table style="width: 100%;">
          <tr id="ranking_poster">
            <td style="padding-left: 6px;">poster1</td>
            <td>poster2</td>
            <td>poster3</td>
            <td>poster4</td>
            <td>poster5</td>
          </tr>
          <tr style="text-align: center;">
            <td style="padding-top: 20px;">제목</td>
            <td style="padding-top: 20px;">제목</td>
            <td style="padding-top: 20px;">제목</td>
            <td style="padding-top: 20px;">제목</td>
            <td style="padding-top: 20px;">제목</td>
          </tr>
        </table>
      </div>

      <div id="flim">
        <img src="./image/flim.png" style="width: 500px; height: 200px;">
      </div>

      <div id="popcon">
        <img src="./image/popcon_ranking.png" style="width: 200px; height: 180px;">
      </div>
     
      <div style="margin-top: -170px;">
        <table style="width: 100%;">
          <tr id="ranking_poster">
            <td style="padding-left: 6px;">poster1</td>
            <td>poster2</td>
            <td>poster3</td>
            <td>poster4</td>
            <td>poster5</td>
          </tr>
          <tr style="text-align: center;">
            <td style="padding-top: 20px;">제목</td>
            <td style="padding-top: 20px;">제목</td>
            <td style="padding-top: 20px;">제목</td>
            <td style="padding-top: 20px;">제목</td>
            <td style="padding-top: 20px;">제목</td>
          </tr>
        </table>
      </div>
    </div>
    </div>
  </body>
</html>
<style type = "text/css">
@import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);
* {font-family: 'Jeju Hallasan', cursive;}
body {
  min-width: 1000px;
  margin: -9px 0px -9px 0px;
  /* overflow-x: hidden; */
}
button:focus {
  outline: 0 !important;
}
input:focus {
  outline: 0 !important;
}
#top {
  margin-top: -30px;
  background-image: url("./image/Logo_background.png");
  background-repeat: repeat;
  background-size:cover;
  height: 240px;
}
#topLocation {
  margin: 15px 0px 30px 0px; 
}
input {
  vertical-align: middle;
  position: relative;
  left: 40%;
}
.img-button {
  background: url( "./image/movie_logo.PNG" ) no-repeat;
  border: none;
  width: 450px;
  height: 200px;
  margin-left: -100px;
  cursor: pointer;
}
/* img {
  height: 100px;
  position: absolute;
  left: 39%;
} */
#login {
  margin-top: 200px;
  float: right;
  margin-right: 100px;
  cursor: pointer;
  background-color: transparent !important;
}
#signup {
  margin-top: 200px;
  float: right;
  cursor: pointer;
  background-color: transparent !important;
}
button {
  margin-right: 10px;
  border: none;
  color: black;
  padding: 3px 6px 3px 6px;
  background-color: transparent !important;
}
#left {
  width: 200px;
  margin: 30px 0px 40px 40px;
  text-align: center;
}
#movieRank {
  border: none;
  font-size: 15px;
  cursor: pointer;
  float: left;
  margin-left: 100px;
}
#movieRank:hover {
  color: rgb(163, 136, 114);;
  font-size: 16px;
}
#naver {
  border: none;
  font-size: 15px;
  cursor: pointer;
  float: left;
}
#naver:hover {
  color: rgb(163, 136, 114);;
  font-size: 16px;
}
#netflix {
  border: none;
  font-size: 15px;
  cursor: pointer;
  float: left;
}
#netflix:hover {
  color: rgb(163, 136, 114);;
  font-size: 16px;
}
#container {
  background-image: url("./image/main_div_background.png");
  height: 1000px;
  background-size: cover;
}
ul.tabs {
  margin:0px 60px 30px 60px;
  padding: 0px;
  list-style : none;
  display: flex;
  justify-content: space-between;
}
ul.tabs li {
  background: none;
  color: black ;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 23px;
}
ul.tabs li.current {
  background-image: url("./image/popcon.png");
  background-repeat : no-repeat;
  background-size : contain;
  background-position: center center;
  color: black ;
}
.tab-content {
  display: none;
  padding: 130px;
}
.tab-content.current {
  display: inherit;
}
#rankPos {
  position: absolute;
  min-width: 600px;
  top: 300px;
  left: 15%;
  height: 900px;
  width: 70%;
  min-width: 750px;
}
#rankTitle {
  margin: 0px 60px 10px 60px;
  display: flex;
  justify-content: space-between;
}
/* #tabList1{
  position: absolute;
  top: 65px;
  left : 53px;
  height: 75%;
  table-layout:fixed;
  border-collapse: collapse; 

}
#tabList1 td{
  overflow : hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  color: black ;
  padding-right: 70px;
  padding-left: 10px;
  
}
#tabList1 tr:first-child{
}

#tabList2{
  position: absolute;
  top: 65px;
  left : 53px;
  height: 75%;
  table-layout:fixed;
  border-collapse: collapse; 

}
#tabList2 td{
  overflow : hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  color: black ;
  padding-right: 70px;
  padding-left: 10px;
}
#tabList2 tr:first-child{
}
#tabList3{
  position: absolute;
  top: 65px;
  left : 53px;
  height: 75%;
  table-layout:fixed;
  border-collapse: collapse; 

}
#tabList3 td{
  overflow : hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  color: black ;
  padding-right: 70px;
  padding-left: 10px;
}
#tabList3 tr:first-child{
} */

#ranking_poster {
  background-image: url('../users/image/ranking_poster.png'); 
  background-repeat: no-repeat;
  background-size: contain; 
  height: 200px;
}
#flim {
  position: relative;
  top: 10px;
  left: -100px;
}
#popcon {
  position: relative;
  top: -230px;
  right: -800px;
  width: 100px;
}
</style>