<!DOCTYPE html>
<html>
  <head>
    <title>Check Movie</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous">
    </script>
    <script>
       $(document).ready(function(){
        $('#do_login').submit(function(){

    
          var useremail= $('#useremail').val();
          var emailLen = useremail.length;
          if(emailLen<1){
            alert("이메일을 입력해주세요!");
            return false;
          }
       
          
          
        });
      });
    </script>
  </head>
  <body>
    <div id="top">
      <div id="topLocation">
        <input type="button" class="img-button" onclick="location.href='./beforeLogin_main.html'">
        <button id="login" onclick="location.href='./login.html'">로그인</button>
        <button id="signup" onclick="location.href='./signup.html'">회원가입</button>
        <div>
          <button id="movieRank" onclick="location.href='./beforeLogin_ranking.html'">영화랭킹</button>
          <button id="naver" onclick="location.href='./beforeLogin_naver_genre.html'">네이버</button>
          <button id="netflix" onclick="location.href='./beforeLogin_netflix_genre.html'">넷플릭스</button>
        </div>
      </div>
    </div>
    <div id="container">
    <div id="loginPos">
      <div style="margin: -10px 0px 20px 0px;">
        <p id="mini">CheckMovie 회원 이용가</p>
      </div>
      <p id="loginTitle">비밀번호 찾기</p>
      <hr id="hr">
      <div>
        <form action="/users/findPwd" method="post" id = "do_login">
          <table>
            <tr>
              <td><p id="idPw">이메일</p></td>
              <td id="idPwPos"><input id='useremail' type='text' name='email'/></td>
            </tr>
            <tr>
              <td colspan="2"><input class="doLogin" type="submit" value="비밀번호 찾기"></td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </div>
  </body>
</html>
<style type = "text/css">
@import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);
* {font-family: 'Jeju Hallasan', cursive}
* {font-weight: lighter;}
input[type=password] {
  font-family:cursive;
  width: 170px;
}
button:focus {
  outline: 0 !important;
}
input:focus {
  outline: 0 !important;
}
body {
  min-width: 1000px;
  margin: -9px 0px -9px 0px;
  /* overflow-x: hidden; */
}
#find{
 margin-top:-23px;
 margin-left:200px;
}
#top {
  margin-top: -30px;
  background-image: url("./image/Logo_background.png");
  background-repeat: repeat;
  background-size:cover;
  height: 240px;
}

#topLocation {
  margin: 15px 0px 30px 0px; 
}
input {
  vertical-align: middle;
  position: relative;
  left: 40%;
}
.img-button {
  background: url( "./image/movie_logo.PNG" ) no-repeat;
  border: none;
  width: 450px;
  height: 200px;
  margin-left: -100px;
  cursor: pointer;
}
img {
  height: 100px;
  position: absolute;
  left: 39%;
}
#login {
  margin-top: 200px;
  float: right;
  margin-right: 100px;
  cursor: pointer;
  background-color: transparent !important;
}
#signup {
  margin-top: 200px;
  float: right;
  cursor: pointer;
  background-color: transparent !important;
}
button {
  margin-right: 10px;
  border: none;
  color: black;
  padding: 3px 6px 3px 6px;
  background-color: transparent !important;
}
#left {
  width: 200px;
  margin: 30px 0px 40px 40px;
  text-align: center;
}
#movieRank {
  border: none;
  font-size: 15px;
  cursor: pointer;
  float: left;
  margin-left: 100px;
}
#movieRank:hover {
  color: rgb(163, 136, 114);
  font-size: 16px;
}
#naver {
  border: none;
  font-size: 15px;
  cursor: pointer;
  float: left;
}
#naver:hover {
  color: rgb(163, 136, 114);
  font-size: 16px;
}
#netflix {
  border: none;
  font-size: 15px;
  cursor: pointer;
  float: left;
}
#netflix:hover {
  color: rgb(163, 136, 114);
  font-size: 16px;
}
#mini {
  float: right;
}
#container {
  background-image: url("./image/main_div_background.png");
  height: 670px;
  background-size: cover;
}
#loginPos {
  position: relative;
  top: 80px;
  left: 35%;
  background-color: white;
  border: 4px solid black;
  height: 300px;
  width: 35%;
  margin-bottom: 50px;
}
#loginTitle {
  font-size: 23px;
  color: black;
  padding: 10px 0px 10px 20px;
  margin-top: -5px;
}
#hr {
  position: relative;
  top: -10px;
  width: 100%;
  border: 1px dashed black;
  margin-bottom: 30px;
}
#idPw {
  font-size: 23px;
  color: black;
  padding-left: 15px;
}
#userid {
  margin-left: -120px;
  height: 30px;
}
#useremail {
  margin-left: -120px;
  height: 30px;
}
#pwd {
  margin-left: -120px;
  height: 30px;
}
table {
  position: relative;
  top: -15px;
  width: 100%;
}
td {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  text-align: left;
}
.doLogin {
  background-color: white;
  border: none;
  color: black;
  font-size: 20px;
  width: 300px;
  height: 60px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  margin-left: -110px;
}
.doLogin:hover {
  font-size: 22px;
  color: plum;
}
</style>