<!DOCTYPE html>
<html>
  <head>
    <title>Check Movie</title>
  </head>
  <body>
    <div id="top">
      <div id="topLocation">
        <input type="button" class="img-button" onclick="location.href='./afterLogin_main.html'">
        <button id="logout" onclick="location.href='./beforeLogin_main.html'">로그아웃</button>
        <button id="myList" onclick="location.reload()">My 보관함</button>
        <div>
            <button id="movieRank" onclick="location.href='./afterLogin_ranking.html'">영화랭킹</button>
            <button id="naver" onclick="location.href='./afterLogin_naver_genre.html'">네이버</button>
            <button id="netflix" onclick="location.href='./afterLogin_netflix_genre.html'">넷플릭스</button>
        </div>
      </div>
    </div>
    <div id="container">
    <div id="myListPos">
      <div id="myListTitle">
        <p id="moreMyList">My 보관함</p>
      </div>
      <hr>
      <!-- jsp로 찜 누른것마다 넣어주기 -->
      <div id="netflixGenre">
        <table>
          <tr>
            <td style="width: 10%; color: red; font-size: 30px;"> ♥ </a></td>
            <td style="width: 25%; color: rgb(95, 136, 101); font-weight: 400; font-size: 20px;"> 포스터 위치 </a></td>
            <td style="width: 75%; color: rgb(95, 136, 101); font-weight: 400; font-size: 30px;"> - 영화이름 </a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  </body>
</html>
<style type = "text/css">
@import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);
* {font-family: 'Jeju Hallasan', cursive}
* {font-weight: lighter;}
body {
  min-width: 1000px;
  margin: -9px 0px -9px 0px;
  /* overflow-x: hidden; */
}
#top {
  margin-top: -30px;
  background-image: url("./image/Logo_background.png");
  background-repeat: repeat;
  background-size:cover;
  height: 240px;
}
#topLocation {
  margin: 15px 0px 30px 0px; 
}
input {
  vertical-align: middle;
  position: relative;
  left: 40%;
}
.img-button {
  background: url( "./image/movie_logo.PNG" ) no-repeat;
  border: none;
  width: 450px;
  height: 200px;
  margin-left: -100px;
  cursor: pointer;
}
img {
  height: 100px;
  position: absolute;
  left: 39%;
}
#logout {
  margin-top: 180px;
  float: right;
  margin-right: 100px;
  cursor: pointer;
  background-color: transparent !important;
}
#myList {
  margin-top: 180px;
  float: right;
  cursor: pointer;
  background-color: transparent !important;
}
button {
  margin-right: 10px;
  border: none;
  color: black;
  padding: 3px 6px 3px 6px;
  background-color: transparent !important;
}
#left {
  width: 200px;
  margin: 30px 0px 40px 40px;
  text-align: center;
}
#movieRank {
  border: none;
  font-size: 15px;
  cursor: pointer;
  float: left;
  margin-left: 100px;
}
#movieRank:hover {
  color: rgb(163, 136, 114);
  font-size: 16px;
}
#naver {
  border: none;
  font-size: 15px;
  cursor: pointer;
  float: left;
}
#naver:hover {
  color: rgb(163, 136, 114);
  font-size: 16px;
}
#netflix {
  border: none;
  font-size: 15px;
  cursor: pointer;
  float: left;
}
#netflix:hover {
  color: rgb(163, 136, 114);
  font-size: 16px;
}
#container {
  background-image: url("./image/main_div_background.png");
  height: 830px;
  background-size: cover;
}
#myListPos {
  position: absolute;
  min-width: 600px;
  top: 300px;
  left: 18%;
  background-color: #FFFFDD;
  height: 330px;
  width: 65%;
  margin-bottom: 100px;
}
#moreNetflix {
  margin: 10px 0px 10px 20px;
  font-size: 23px;
  background-color: #FFFFDD;
  color: rgb(95, 136, 101);
}
hr {
  border: 1px solid #BDECB6;
}
#myListTitle {
  margin: 0.5px 60px -4px 10px;
  display: flex;
  justify-content: space-between;
}
table {
  position: absolute;
  top: 92px;
  width: 100%;
  table-layout:fixed;
}
tr {
  height: 15px;
}
td {
  padding-left: 10px;
  padding-bottom: 10px;
  text-align: left;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
a {
  color: rgb(95, 136, 101);
  text-decoration: none;
  font-size: 15px;
}
</style>