<!DOCTYPE html>
<html>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous">
    </script>
    <script>
      $(function(){ 
        $("#alert-success").hide(); 
        $("#alert-danger").hide(); 
        $("input").keyup(function(){ 
          var pwd1=$("#pwd").val(); 
          var pwd2=$("#pwdCheck").val(); 
          if(pwd1 != "" || pwd2 != ""){ 
            if(pwd1 == pwd2){ 
              $("#alert-success").show(); 
              $("#alert-danger").hide(); 
              $("#submit").removeAttr("disabled"); 
            }else{ 
              $("#alert-success").hide(); 
              $("#alert-danger").show(); 
              $("#submit").attr("disabled", "disabled"); 
            } 
          } 
        }); 
      });
      function sign_up() {
        var pwd1=$("#pwd").val(); 
        var pwd2=$("#pwdCheck").val(); 
        if(pwd1 != pwd2) {
          alert("비밀번호가 다릅니다!");
        }
      }
      </script>
  <head>
    <title>Check Movie</title>
  </head>
  <body>
    <div id="top">
      <div id="topLocation">
        <input type="button" class="img-button" onclick="location.href='./beforeLogin_main.html'">
        <button id="login" onclick="location.href='./login.html'">로그인</button>
        <div>
          <button id="movieRank" onclick="location.href='./beforeLogin_ranking.html'">영화랭킹</button>
          <button id="naver" onclick="location.href='./beforeLogin_naver_genre.html'">네이버</button>
          <button id="netflix" onclick="location.href='./beforeLogin_netflix_genre.html'">넷플릭스</button>
        </div>
      </div>
    </div>
    <div id="container">
    <div id="signupPos">
      <div style="margin: -10px 0px 20px 0px;">
        <p id="mini">전체연령 이용가</p>
      </div>
      <p id="signupTitle">간편 회원가입</p>
      <hr id="hr">
      <div>
        <form action="/users/sign_up" method="post">
          <table>
            <tr>
              <td><p id="idPw">아이디</p></td>
              <td id="idPwPos"><input id='userid' type='text' name='name'/></td>
            </tr>
            <tr>
             <td><p id="idPw">이메일</p></td>
              <td id="idPwPos"><input id='userid' type='text' name='email'/></td>
            </tr>
            <tr>
              <td><p id="idPw">비밀번호</p></td>
              <td><input id='pwd' type='password' name='password'/></td>
            </tr>
            <tr>
              <td><p id="idPw">비밀번호 확인</p></td>
              <td><input id='pwdCheck' type='password' name='passwordc'/></td>
            </tr>
            <tr>
              <td class = "alert alert-success" id = "alert-success">비밀번호가 일치합니다.</td>
              <td class = "alert alert-danger" id = "alert-danger">비밀번호가 일치하지 않습니다.</td>
            </tr>
            <tr>
              <td colspan="2"><input class="doSignup" type="button" value="회원가입" onclick="sign_up()"></td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </div>
  </body>
</html>
<style type = "text/css">
@import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);
* {font-family: 'Jeju Hallasan', cursive}
* {font-weight: lighter;}
input[type=password] {
  font-family:cursive;
  width: 170px;
}
button:focus {
  outline: 0 !important;
}
input:focus {
  outline: 0 !important;
}
body {
  min-width: 1000px;
  margin: -9px 0px -9px 0px;
  /* overflow-x: hidden; */
}
#top {
  margin-top: -30px;
  background-image: url("./image/Logo_background.png");
  background-repeat: repeat;
  background-size:cover;
  height: 240px;
}
#topLocation {
  margin: 15px 0px 30px 0px; 
}
input {
  vertical-align: middle;
  position: relative;
  left: 40%;
}
.img-button {
  background: url( "./image/movie_logo.PNG" ) no-repeat;
  border: none;
  width: 450px;
  height: 200px;
  margin-left: -100px;
  cursor: pointer;
}
img {
  height: 100px;
  position: absolute;
  left: 39%;
}
#login {
  margin-top: 200px;
  float: right;
  margin-right: 100px;
  cursor: pointer;
  background-color: transparent !important;
}
#signup {
  margin-top: 200px;
  float: right;
  cursor: pointer;
  background-color: transparent !important;
}
button {
  margin-right: 10px;
  border: none;
  color: black;
  padding: 3px 6px 3px 6px;
  background-color: transparent !important;
}
#left {
  width: 200px;
  margin: 30px 0px 40px 40px;
  text-align: center;
}
#movieRank {
  border: none;
  font-size: 15px;
  cursor: pointer;
  float: left;
  margin-left: 100px;
}
#movieRank:hover {
  color: rgb(163, 136, 114);
  font-size: 16px;
}
#naver {
  border: none;
  font-size: 15px;
  cursor: pointer;
  float: left;
}
#naver:hover {
  color: rgb(163, 136, 114);
  font-size: 16px;
}
#netflix {
  border: none;
  font-size: 15px;
  cursor: pointer;
  float: left;
}
#netflix:hover {
  color: rgb(163, 136, 114);
  font-size: 16px;
}
#mini {
  float: right;
}
#container {
  background-image: url("./image/main_div_background.png");
  height: 760px;
  background-size: cover;
}
#signupPos {
  position: relative;
  top: 80px;
  left: 35%;
  background-color: white;
  border: 4px solid black;
  height: 600px;
  width: 35%;
  margin-bottom: 50px;
  min-width: 370px;
}
#signupTitle {
  font-size: 23px;
  color: black;
  padding: 10px 0px 10px 20px;
  margin-top: -5px;
}
#hr {
  position: relative;
  top: -10px;
  width: 100%;
  border: 1px dashed black;
  margin-bottom: 30px;
}
#idPw {
  font-size: 23px;
  color: black;
  padding-left: 15px;
}
#userid {
  margin-left: -120px;
  height: 30px;
}
#pwd {
  margin-left: -120px;
  height: 30px;
  
}
#pwdCheck {
  margin-left: -120px;
  height: 30px;
}
table {
  position: relative;
  top: -15px;
  width: 100%;
}
td {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  text-align: left;
}
.doSignup {
  background-color: white;
  border: none;
  color: black;
  font-size: 20px;
  width: 300px;
  height: 60px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  margin-left: -110px;
}
.doSignup:hover {
  background-image: url("./image/barcode.PNG");
  font-size: 0px;
  background-size: 300px 60px;
}
#alert-success{
  position: relative;
  color :blue;
  left: 250px;
}
#alert-danger{
  position: relative;
  color : red;
  left: 250px;
}
</style>